html,body{
    margin: 0%;
    padding: 0%;
    font-family:  Helvetica , Arial, sans-serif;
}
.header{
    background: #3b5998;
    width: 100%;
    height: 85px;
}
.logo{
    width: 50%;
    padding-top: 32px;
    float: left;
}
.login{
    width: 50%;
    float: left;
}
.logo-text{
    color:#ffffff;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    font-family:  Helvetica , Arial, sans-serif;
    margin-left: 140px;
}
.login-label{
    color:#ffffff;
    font-size: 14px;
}
.login-controls{
    margin-left: 115px;
}
.login{
    padding-top: 10px;
}
.forgotten{
    color: #a6c3ff;
    text-decoration: none;
    font-size: 13px;
}
.sub-btn{
    background-color: #4267b2;
    color: #ffffff;
    height: 20px;
    border-color: #29487d;
    cursor: pointer;
}
.sub-btn:hover{
    background: #1e4186;
}
.main-body{
    margin-top: 20px;
}
.left-section{
    width: 40%;
    float: left;
    padding-left: 8%;
    padding-right: 2%;
    height: 500px; 
}
.right-section{
    width: 40%;
    float: left;
    padding-right: 8%;
    padding-left: 2%;
    height: 500px;
}
.main-body{
    background: linear-gradient(white,#ded8e8);
    width: 100%;
    height: 500px;
}
.image{
    padding-top: 20px;
    width: 500px;
    height: 300px;
}
.para{
    font-weight: bold;
    font-size: 21px;
}
.form-text-name{
    width: 200px;
    border-radius: 4px;
    height: 25px;
    padding-top: 5px;
}
.form-text-noem{
    width: 412px;
    border-radius: 4px;
    height: 25px;
    margin-top: 10px;
}
select {
  border: 1px solid #000000;
  border-radius: 2px;
  margin-right: 1rem;
  padding: 3px;
}
.gender{
    width: 200px;
    display: flex;
    justify-content: start;
    margin-bottom: 4px;
}
.gender-text{
    margin-bottom: -4px;
}
.sign-text{
    margin-bottom: 15px;
}
.sign-btn{
    margin-left: 5px;
    width: 150px;
    height: 33px;
    background-color: rgb(63, 208, 63);
    border-radius: 5px;
}
.sign-btn:hover{
    background-color: rgb(16, 187, 96);
}
.footer{
    height: 100px;
    background-color: #3b5998;
    color: #ffffff;
    font-size: 15px;
    padding: 20px 15px;
    text-align: center;
    border-top: solid 1px black;
}
.languages{
    margin-bottom: 10px;
}
.copyright{
    padding-top: 15px;
}
